@model IEnumerable<EntityLayer.BlogYazilari>

@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4" id="ust">
    <div class="row text-center">
        <div class="col" id="ust">
            <h2>Yazılar</h2>
        </div>
    </div>

    <div class="row">
        
        <div class="col">
            <a href="/Home/YeniYazi" class="btn btn-outline-warning mb-2">Yeni Yazı Yaz</a>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-12 col-sm-9">
            <table class=" table table-hover">
                <tr>
                    <th>Yazı No</th>
                    <th>Yazı Başlığı</th>
                    <th>Yazı İçeriği</th>
                    <th>Kategori</th>
                    
                    <th>Düzenle</th>
                </tr>
                <tbody class="table-group-divider">

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><p>@item.Id</p></td>
                            <td><p>@item.Baslik</p></td>
                            <td><p class="card-text" style="overflow: auto;max-height:100px">@item.Icerik</p></td>
                            <td><p>@item.TurId</p></td>
                            <td>
                                <a href="/Home/Guncelle/@item.Id" id="Guncelle"><button class="mb-2">Güncelle</button></a>

                                <a href="/Home/BlogYaziSil/@item.Id"><button id="Sil">Sil</button></a>
                                
                            </td>

                        </tr>


                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
